# Giscus (comments)
# Create from: https://giscus.app
PUBLIC_GISCUS_REPO=ersintarhan/blog
PUBLIC_GISCUS_REPO_ID=
PUBLIC_GISCUS_CATEGORY=Announcements
PUBLIC_GISCUS_CATEGORY_ID=
PUBLIC_GISCUS_MAPPING=pathname
PUBLIC_GISCUS_THEME=preferred_color_scheme
